{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
  		{{ message }}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

	<h1>Sign Up:</h1>
	<br/>
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control") }}
		<br/>
		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control") }}
		<br/>
		{{ form.password_hash.label(class="form-label") }}
		{{ form.password_hash(class="form-control") }}
		<br/>
		{{ form.submit(class="btn btn-secondary btn-sm") }}

		<a class="btn btn-link" href="{{ url_for('login') }}" role="button">Already Have An Account</a>

	</form>

	<br/><br/><br/>

	<table class="table table-hover table-bordered table-striped">

	{% for our_user in our_users %}
		<tr>
		<td>{{ our_user.id }}. {{ our_user.username }} - {{ our_user.email }} - {{ our_user.password }} - <a href="{{ url_for('delete', id=our_user.id) }}">Delete</a> </td>
		</tr>
	{% endfor %}

	</table>

{% endblock %}